#Caches
__pycache__
*.pyc

# IDE & Linters
.vscode
.flake8

# Virtual Environments
**/venv*/

#Env file
.env
.env.test

# Database migrations
**/migrations/*

# SQLite database
db.sqlite3

# Notes and Reminders
notes.txt
